
.divPrincipal{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: #3b3e40;
    color: #f2f2f2;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

    @media(min-width: 768px){
        .divPrincipal:hover{
            margin-top: 4px;
        }
    }

    @media(max-width: 768px){
        .divPrincipal:hover{
            margin-right: 4px;
        }
    }


.divPrincipal:hover h3 {
    color: #80858d;
}

.imageApto{
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}