
.sliderBox{
  overflow: hidden;
}

.sliderBox ul{
    display: flex;
    padding: 0px;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.sliderBox li{
    width: 100%;
    list-style: none;
    position: relative;
}

.texto{
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: white;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
