









/* 
.mainContainer {
  width: 600px;
  height: 400px;
  margin: 20px auto;
}

.sliderContainer {
  position: relative;
  height: 100%
}

.containerImages {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}


.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: black;
  z-index: 1;
  cursor: pointer;
}


.divUl {
  list-style: none;
  white-space: nowrap;
}

.divLi {
  display: inline;
  list-style: none;
  white-space: nowrap;
}

.image {
  margin-top: -16px;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dotContainerItem {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

.active {
  background: #a61a16;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}  */