
.divGeneral{
    margin: 30px;
}

    @media(max-width: 768px){
        .divGeneral{
            margin: 10px;
        }
    }

.cards{ 
    display: flex;
    flex-direction: Row;
    flex-wrap: wrap; 
    justify-content: center;    
}

.servicio{
    display: flex; 
    flex-direction: column;
    text-align: center;
    width: 220px;
    margin: 20px;
    background-color: #80858d;
    background-color: #721f1c;
    border-radius: 30px;
    padding: 10px;
    border: 1.5px solid #1d1d1b;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

    @media(max-width: 768px){
        .servicio{
            width: 160px;
            margin: 10px;         
        }
    }

.imagenesRemodelacion{
    width: 100px;
    margin: 2px;
    border-radius: 20px;
    border: 1.5px solid #1d1d1b;
}

    @media(max-width: 768px){
        .imagenesRemodelacion{
            width: 80px; 
            margin: 4px;        
        }
    }

.imagenesAcabados{
    width: 98%;
    margin: 2px;
    border-radius: 20px;
    border: 1.5px solid #1d1d1b; 
}

.imagenConstruccion{
    width: 98%;
    margin: 2px;
    border-radius: 20px;
    border: 1.5px solid #1d1d1b;
}

.imagenCarpinteria{
    width: 97%;
    margin: 2px;
    border-radius: 20px;
    border: 1.5px solid #1d1d1b;
}

.textoAntes{
    color: #f2f2f2;
    background-color: #a61a16;
    background-color: #1d1d1b;
    border-radius: 5px;
    padding: 2px;
    margin: 0px 20px 0px 20px;
    font-size: 12px;
}

.textoMobible{
    position: absolute;  
    transform: translate(155%, 40%);
    color: #f2f2f2;
    background-color: #a61a16;
    background-color: #1d1d1b;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-size: 12px;
}